extends layout

block content
  h1= title
  div(class="message")
    each message in messages
      div 
        h3 #{message.text}
        h4 - #{message.user} (#{moment(message.added).format('ddd, MMM Do [at] YYYY h:m A')})
  button(type="button") 
     a(href="/new") Add New Message 